
<link href="~/Content/Product/AddProduct.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading">Add Product</h4>
                <div class="form">
                    <div method="post">
                        <input type="text" id="productname" required="Enter Product Name"  placeholder="Product Name" class="inputyc">
                        <select  required="" id="categories" class="dropdownyc">
                            
                        </select>
                        <input type="text" data-role="input" placeholder="Image Url"id="imgurl" class="inputyc">
                        <input type="text" placeholder="Amazon India Url" id="amzurl" class="inputyc">
                        <input type="text" placeholder="Amazon Price" id="amzprice" class="inputyc">
                        <input type="text" placeholder="Paytm Url" id="paytmurl" class="inputyc">
                        <input type="text" placeholder="Paytm Price" id="paytmprice" class="inputyc">

                        <input type="submit" value="submit" id="submit" class="btn btn-primary inputyc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Product/AddProduct.js"></script>
