
<link href="~/Content/Product/AddProduct.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading">Add Product</h4>
                <div class="form">
                    <div method="post" data-context="new AddProduct.BaseForm()">
                        <input type="text" required="" data-bind="value: ProductName" placeholder="Product Name" name="name" class="inputyc">
                        <select type="text" required="" data-bind="foreach: Categories" placeholder="Category" value="" name="mob" class="dropdownyc">
                            <option data-bind="value: Name"></option>
                        </select>
                        <input type="text" required="" placeholder="Image Url" data-bind="value: ImgUrl"  name="imgurl" class="inputyc">
                        <input type="text" required="" placeholder="Amazon India Url" data-bind="value: AmazonUrl"  name="amzimgurl" class="inputyc">
                        <input type="text" required="" placeholder="Amazon Price" data-bind="value: AmazonPrice"  name="amzprice" class="inputyc">
                        <input type="text" required="" placeholder="Paytm Url" data-bind="value: PaytmUrl"  name="paytmurl" class="inputyc">
                        <input type="text" required="" placeholder="Paytm Price" data-bind="value: PaytmPrice"  name="paytmprice" class="inputyc">

                        <input type="submit" value="submit" name="submit" class="btn btn-primary inputyc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/Product/AddProduct.js"></script>
