
<link href="~/Content/Product/AddProduct.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading">Add Product</h4>
                <div class="form">
                    <div method="post" data-context="new AddProduct.BaseForm()">
                        <input type="text" required="" data-role="input" data-bind="value: $data.ProductName()" placeholder="Product Name" name="name" class="inputyc">
                        <select  required="" data-role="dropdown" data-bind="$data.Categories()" placeholder="Category" value="" name="categories" class="dropdownyc">
                        </select>
                        <input type="text" required="" data-role="input" placeholder="Image Url" data-bind="value: $data.ImgUrl()"  name="imgurl" class="inputyc">
                        <input type="text" required="" data-role="input" placeholder="Amazon India Url" data-bind="value: $data.AmazonUrl()"  name="amzimgurl" class="inputyc">
                        <input type="text" required="" data-role="input" placeholder="Amazon Price" data-bind="value: $data.AmazonPrice()"  name="amzprice" class="inputyc">
                        <input type="text" required="" data-role="input" placeholder="Paytm Url" data-bind="value: $data.PaytmUrl()"  name="paytmurl" class="inputyc">
                        <input type="text" required="" data-role="input" placeholder="Paytm Price" data-bind="value: $data.PaytmPrice()"  name="paytmprice" class="inputyc">

                        <input type="submit" data-role="submit" data-bind="click: $data.AddProduct()" value="submit" name="submit" class="btn btn-primary inputyc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/Product/AddProduct.js"></script>
